*{
	margin:5px;
	padding: 5px;
}
body{
	width: 700px;
	height: 700px;
	background-color: black;

}
#busname{
	border-bottom: 1px solid black;
	position: relative;
	top: -5px;
}
#nav{
	width: 600px;
	height: 70px;
	opacity: 0.8;
	border-bottom: 3px ridgeblack;
	text-transform: capitalize;
	position: relative;
	top: -33px;
	left: 240px;
	display: inline;
	justify-content: flex-end;
	
}
a{
	text-decoration: none;
	color: white;
}
a:nth-child(3){
	background-color: transparent;
	color: tomato;
}
a:hover{
	background-color: black;
	color: tomato;
	font-size: 1.2em;
}
.general{
	width: 660px;
	height: 300px;
	background-color: #3b444b;
	border-bottom: 1px ridge white;
	

}
.ab{

	text-align: center;
	position: relative;
	text-transform: capitalize;
	font-style: normal;
	font-size: 1em;
	left: 0px;
	top: -150px;
}

.container{
	width: 650px;
	height: 200px;
	

	display: flex;
	position: relative;
	top: -45px;
	left: -5px;
}
.card{
	
	position: relative;	
	top: -5px;
	}
.card1{
	background-image: url(./img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 110px;
		}
.card2{
	background-image: url(./img/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 110px;
		}
.card3{
	background-image: url(./img/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 110px;

	}
h2{
	text-transform: capitalize;
	color: white;
	font-size: 1em;
	font-style: oblique;
	position: relative;
	top: 109px;
	opacity: 0.8;
	
}

p{
	text-transform: capitalize;
	color: white;
	font-size: 0.5em;
	font-style: normal;
	position: relative;
	opacity: 0.7;
	top: 105px;

	
}

span{
	color: red;
}

footer{
	background:linear-gradient(to bottom,gold, lightyellow);
	color: black;
	text-align: center;
	width: 660px;
	height: 20px;
	position: relative;
	left: 10px;
	top: -13px;

}
h3{
	position: relative;
	top: -15px;
	text-shadow: 1px 1px blue;
}

@media screen and (min-width:500px){.general{
	flex-direction: column;
}
}